* {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
:root {
  --color: black;
}

.header {
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  opacity: 0.85;
  font-size: 30px;
  color: darkred;
  text-align: center;
}
.card_conteiner {
  width: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.card {
  --w: 0;
  height: calc(var(--w) * 700);
  width: calc(var(--w) * 500);

  color: rgb(221, 221, 221);
  text-shadow: 0px 0 5px var(--color), 0 0px 5px var(--color),
    -0px 0 5px var(--color), 0 -0px 5px var(--color);

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  padding: 15px;

  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
  border: 1px solid rgba(197, 197, 197, 1);

  border-radius: 24px;

  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  opacity: 0.9;
  transition: 0.5s;
}

.card_title {
  font-size: 48px;
  margin-bottom: 10px;
  z-index: 1;
}
.card_disc {
  text-align: center;
  width: 100%;
  font-size: 30px;
  z-index: 1;
}

.hearths {
  background: linear-gradient(240.64deg, #fff2f2 0%, #ffe6e6 100%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hearth {
  position: absolute;
  content: "";

  width: 25vmin;
  height: 25vmin;
  background-image: url("./img/hearth.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  animation: example linear;
}

@media (max-width: 600px) {
  .header {
    font-size: 20px;
  }
  .card {
    height: calc(var(--w) * 500);
    width: calc(var(--w) * 400);
    max-width: 70%;
  }
  .card_title {
    font-size: 20px;
  }
  .card_disc {
    font-size: 14px;
  }
}

@keyframes example {
  0% {
    top: 110%;
  }
  100% {
    top: -50%;
  }
}
